*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    /* ***Variables For Storing Colors */
    --primary-clr: #fff;
    --primary-medium-clr: #2054EA;
    --primary-light-clr: #FF8900;
    --light-text-clr: #707070;
    --bg-clr-1: #f1f1f1;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* *** Style Container Starts *** */
.mdp-forgot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 8%;
    overflow: hidden;
    background-image: url(../src/imgContact/img1.jpg);
    background-position: center;
}
.mdp-forgot form{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-clr);
    width: 430px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.mdp-forgot form .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mdp-forgot form .logo svg{
    height: 100px;
}
.mdp-forgot form h2{
    margin: 20px;
    font-size: 20px;
    text-align: center;
}
.mdp-forgot form p{
    text-align: center;
    margin-bottom: 20px;
}
.mdp-forgot form input[type="email"]{
    width: 100%;
    font-size: 16px;
    padding: 10px 30px 10px 10px;
    margin: 10px 0;
    outline: none;
}
.mdp-forgot form input[type="email"]:focus{
    border-color: var(--primary-medium-clr);
    box-shadow: 0 0 5px 0 var(--primary-medium-clr);
}
#btn{
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: var(--primary-medium-clr);
    color: var(--primary-clr);
    cursor: pointer;
    transition: all 0.4s;
}
#btn:hover{
    opacity: 0.8;
}
form .connexion{
    text-decoration: none;
    text-align: center;
    margin: 10px 0 20px 0;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primary-light-clr);
    color: var(--primary-clr);
    transition: all 0.4s;
}
form .connexion:hover{
    opacity: 0.8;
}
form .connexion:focus{
    outline: none;
}
